.main-body {
  .main-body__carousel {
    .main-body__navbar_wrapper {
      margin-top: -30px;
    }
    .main-body__carousel__item {
      background-size: cover !important;
      background-position: center!important;
      height: 100%;
      .main-body__carousel__item__text {
        position: relative;
        top: 200px;
        text-align: left;
        color: #fff;
        h3 {
          color: #f7c51d;
        }
      }
    }
    .main-body__carousel__item:not(.active) {
      .animated {
        visibility: hidden;
      }
      .active {
        .animated{
          visibility: visible;
        }
      }
    }
    /deep/.ui-carousel-item {
      background: #000;
      z-index: -999;
    }
    /deep/.arrow {
      background-color: rgba(63, 63, 59, 0.3);
      transition-property: background;
      transition-duration: 0.5s;
      transition-timing-function: linear;
      height: 80px;
      width: 35px;
      opacity: 1;
      z-index: 98;
    }
    /deep/.arrow:before,
    /deep/.arrow:after {
      width: 10px;
    }
    /deep/.arrow:before {
      top: 37px;
    }
    /deep/.arrow:after {
      top: 43px;
    }
    /deep/.arrow.left:before,
    /deep/.arrow.left:after {
      left: 12px;
    }
    /deep/.arrow.left {
      margin-left: 15px;
    }
    /deep/.arrow.right {
      margin-right: 15px;
    }
    /deep/.arrow.right:before,
    /deep/.arrow.right:after {
      right: 12px;
    }
    /deep/.arrow:hover {
      background-color: #f7c51d;
      transition-property: background;
      transition-duration: 0.5s;
      transition-timing-function: linear;
    }
    .main-body__navbar {
      position: relative;
      top: 65px;
      height: 65px;
      z-index: 99;
      border-bottom: 1px solid rgba(116, 116, 116, 0.5);
      .mobile {
        .mobile__navbar__head {
          padding: 0 15px;
          background: #f7c51d;
          width: 100%;
          height: 60px;
          input {
            height: 35px;
            margin: 13px auto;
            display: block;
          }
          input::placeholder {
            font-size: 12px;
            text-align: center;
            vertical-align: middle;
          }
          .navbar-toggler {
            padding: 0;
            .navbar-toggler-icon {
              background-image: none;
              line-height: 3;
            }
          }
          i {
            font-size: 30px;
            color: #fff;
            line-height: 60px;
          }
          button {
            border: none;
            color: #000;
          }
          button:focus {
            outline: none;
          }
        }
        .navbar-collapse {
          background: #fff;
          position: relative;
          .navbar-nav {
            ul {
              padding: 0;
              list-style: none;
              margin: 0;
              li {
                div {
                  padding: 10px 15px;
                  border-bottom: 1px solid #cec7c7;
                  background-color: #f5f5f5;
                  a {
                    font-size: 16px;
                    padding: 0;
                  }
                }
              }
            }
          }
        }
      }
      .navbar {
        padding: 0;
      }
      .navbar__middle {
        padding: 0;
        a {
          color: #fff;
          font-weight: bold;
          height: 65px;
          padding: 20px 15px;
          font-size: 16px;
          .navbar__middle__tab-footer {
            transition-property: all;
            transition-duration: 0.6s;
            transition-timing-function: linear;
            width: 100%;
            margin: 0 auto;
            height: 4px;
            background-color: #f7c51d;
            position: relative;
            top: 18px;
            opacity: 0;
          }
        }
        a:hover {
          .navbar__middle__tab-footer {
            width: 50%;
            opacity: 1;
          }
        }
        .nav-item.active {
          .navbar__middle__tab-footer {
            width: 50%;
            opacity: 1;
          }
        }
      }
      .navbar__middle_right {
        padding: 0;
        a {
          color: #fff;
          font-weight: bold;
          padding: 0 5px;
          height: 65px;
          line-height: 70px;
          transition-property: color;
          transition-duration: 0.2s;
          transition-timing-function: linear;
          i {
            font-size: 20px;
          }
        }
        a:hover {
          transition-property: color;
          transition-duration: 0.5s;
          transition-timing-function: linear;
          color: #f7c51d;
        }
      }
      .navbar__left {
        line-height: 1px;
        i {
          color: #fff;
          font-size: 30px;
        }
      }
      .navbar__right {
        i {
          color: #fff;
          float: right;
          font-size: 30px;
        }
        .navbar__right__input_wrapper {
          input{
            float: right;
            position: relative;
            top: 17px;
            padding: 7px 25px;
            border-radius: unset;
            -webkit-transition: all .5s ease;
            -moz-transition: all .5s ease;
            transition: width 0.5s ease;
          }
          input::placeholder {
            font-size: 14px;
          }
        }
        .navbar__right__input_wrapper.search-hidden {
          visibility: hidden;
        }
      }
      .navbar__left_border {
        border-left: 1px solid rgba(116, 116, 116, 0.5);
        height: 30px;
      }
      .navbar__right_border {
        border-right: 1px solid rgba(116, 116, 116, 0.5);
      }
    }
    .main-body__navbar.fixed {
      position: fixed;
      display: block;
      background: #000;
      width: 100%;
      top: 0;
      transition-property: all;
      transition-duration: 0.5s;
      transition-timing-function: linear;
      z-index: 999;
    }
    .main-body__navbar_wrapper {
      border-bottom: 1px solid rgba(116, 116, 116, 0.5);
    }
  }
}


/*** Media queries. Mobile adaptive ***/
@media only screen and (max-width: 1200px) {
  .main-body__navbar {
    .container {
      max-width: 100%;
      width: 100%;
    }
  }
  .main-body .main-body__carousel {
    .navbar__middle {
      .nav-item {
        a {
          padding: 20px 10px;
        }
      }
    }
  }
}

