.middle-content {
  margin-top: 100px;
  .middle-content__info {
    p {
      font-size: 16px;
      color: #9d9d9d;
      span {
        border-bottom: 1px dotted #f7c51d;
        a {
          color: #f7c51d;
          transition: color 1s;
        }
        a:hover {
          color: #000;
          text-decoration: none;
          transition: color 1s;
        }
      }
    }
    p:first-child {
      font-size: 20px;
      color: #000;
    }
    .middle-content__info__wrapper {
      padding-bottom: 30px;
    }
    .middle-content__info__wrapper__image {
      img {
        width: 100%;
      }
    }
    .middle-content__info__wrapper__text {
      h4 {
        font-weight: 300;
      }
      a {
        cursor: pointer;
        color: #f7c51d;
        font-size: 14px;
        text-decoration: none;
        display: inline-block;
        border-bottom: 3px solid transparent;
        width: 0;
        transition: 1s ease;
        -webkit-transition: 1s ease;
        -moz-transition: 1s ease;
        white-space: nowrap;
        height: 25px;
      }
      a:hover {
        text-decoration: none;
        transition: all 1s;
        border-bottom: 1px solid #f7c51d;
        width: 80px;
      }
    }
  }
  .middle-content__introduction {
    margin-top: 50px;
    text-align: center;
    font-weight: 300;
    .middle-content__introduction__item {
      width: 100%;
      height: 200px;
    }
    div {
      background-position: center;
      background-size: cover;
    }
    h3 {
      font-weight: 400;
      margin-top: 20px;
      margin-bottom: 10px;
    }
    span {
      color: #9d9d9d;
    }
  }
  .middle-content__filter {
    > div {
      margin-top: 50px;
      padding-top: 65px;
      padding-bottom: 100px;
      background: #222;
      color: #fff;
    }
    img {
      height: 200px;
      width: 100%;
    }
    .middle-content__filter__image-wrapper {
      margin-top: 50px;
      ul li div {
        height: 150px;
        width: 100%;
        background-size: cover;
      }
    }
    .middle-content__filter__header {
      span {
        font-size: 14px;
      }
      ul {
        margin-top: 15px;
        li {
          display: inline-block;
          float: right;
          a {
            color: #fff;
            padding: 0 10px;
          }
          a:hover {
            text-decoration: none;
          }
        }
        li.active {
          a {
            color: #f7c51d;
          }
        }
        li.hide-transition {
          transition-property: all;
          transition-duration: 0.4s;
          transition-timing-function: linear;
          transform: scale(0);
          width: 0;
          padding: 0;
          margin: 0;
          visibility: hidden;
        }
      }
    }
  }
  .middle-content__advertising {
    background: #f7c51d;
    .companies__carousel {
      .slide {
        padding:15px;
      }
    }
    .middle-content__advertising__head {
      color:#fff;
      h3 {
        margin-top: 40px;
        border-right: 1px solid #fff;
        font-size: 24px;
        padding: 15px 0;
      }
    }
  }
  .middle-content__quote {
    background-color: #f9f9f9;
    .middle-content__quote__box {
      display: inline-block;
      border: 1px solid #f2f2f2;
      padding: 40px 30px 30px 34px;
      background-color: #fff;
      position: relative;
      margin-bottom: 100px;
      margin-top: 80px;
      margin-right: 15px;
      height: 180px;
      >span {
        background-color: #979797;
        height: 36px;
        width: 44px;
        text-align: center;
        font-size: 16px;
        color: #fff;
        display: inline-block;
        line-height: 36px;
        position: absolute;
        left: 34px;
        top: -15px;
        i {
          position: relative;
          top: 4px;
        }
      }
      h3 {
        font-size: 14px;
        font-weight: 700;
        letter-spacing: 0.5px;
        text-transform: uppercase;
        span {
          font-weight: 400;
          line-height: 26px;
          color: #999;
          text-transform: capitalize;
          position: relative;
          padding-left: 11px;
        }
      }
      p {
        font-size: 16px;
        color: #777;
        line-height: 26px;
        font-weight: 400;
      }
      div {
        position: absolute;
        top: 120%;
        left: 5px;
      }
      ul {
        li {
          i {
            color: #f7c51d;
            font-size: 16px;
          }
        }
      }
      .middle-content__quote__box__outer {
        h3 {
          margin: 0;
        }
      }
    }
    .middle-content__quote__box:after{
      position: absolute;
      content: "";
      bottom: -25px;
      left: -1px;
      width: 0;
      height: 0;
      border-top: 25px solid #f7c51d;
      border-left: 30px solid transparent;
    }
    .slick-slide {
      margin-bottom: 50px;
    }
  }
  .middle-content__news {
    margin-top: 50px;
    .middle-content__news__block {
      margin: 20px 0;
    }
    .middle-content__news__block__text_wrapper,
    .middle-content__news__block__image_wrapper {
      display: inline-block;
      width: 50%;
    }
    .middle-content__news__block__image_wrapper {
      img {
        width: 100%
      }
    }

    .middle-content__news__block__text_wrapper {
      padding: 10px;
      float: right;
      span:nth-child(3) {
        color:#f7c51d;
      }
      span {
        color: #000;
        font-size: 12px;
      }
      a {
        display:block;
        text-decoration: none;
        color: #000;
        transition: color 0.5s;
        cursor: pointer;
      }
      a:hover {
        transition: color 0.5s;
        color: #f7c51d;
      }
      p {
        color: #777;
        font-size: 16px;
        margin-top: 10px;
      }
    }
  }
}

/*** Media queries. Mobile adaptive ***/
@media only screen and (max-width: 1200px) {
  .middle-content {
    .middle-content__news {
      margin-top: 50px;
      .middle-content__news__block {
        .middle-content__news__block__image_wrapper,
        .middle-content__news__block__text_wrapper {
          width: 100%;
          float: none;
          p {
            margin: 0;
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 992px) {
  .middle-content {
    margin-top: 50px;
    /deep/.slick-list {
      top: 25px;
    }
    .middle-content__introduction {
      .middle-content__introduction__item {
        height: 150px;
      }
    }
    .middle-content__advertising {
      .middle-content__advertising__head {
        h3 {
          margin-top: 15px;
          border-right: 1px solid #fff;
          font-size: 24px;
          padding: 15px 0;
        }
      }
    }
    .middle-content__filter {
      .middle-content__filter__image-wrapper {
        margin-top: 50px;
        ul li div {
          height: 150px;
          width: 100%;
        }
      }
    }
  }
}
@media only screen and (max-width: 768px) {
  .middle-content {
    /deep/.slick-list {
      top: 0;
    }
    .middle-content__filter {
      .middle-content__filter__image-wrapper {
        margin-top: 50px;
        ul li div {

        }
      }
    }
  }
}
@media only screen and (max-width: 576px) {
  .middle-content {
    .middle-content__introduction {
      .middle-content__introduction__item {
        height: 250px;
      }
    }
    .middle-content__advertising {
      background: #f7c51d;
      .companies__carousel {
        .slide {
          padding: 0;
        }
      }
    }
  }
}


