footer {
  background-color: #333;
  margin-top: 100px;
  .footer {
    padding: 100px 0;
    h3 {
      text-transform: uppercase;
      font-weight: 600;
      letter-spacing: 0.9px;
      color: #fff;
      padding-bottom: 5px;
      font-size: 16px;
    }
    h3:before {
      content: "";
      width: 30px;
      height: 1px;
      top: 25px;
      background-color: #ffc722;
      display: inline-block;
      position: absolute;
    }
    p {
      padding-top: 20px;
      padding-bottom: 5px;
      font-weight: 300;
      font-size: 14px;
      color: #999;
      line-height: 26px;
      letter-spacing: 0.42px;
    }
    a {
      text-decoration: none;
      color: #f7c51d;
      display: inline-block;
      font-size: 14px;
      letter-spacing: 0.84px;
      line-height: 28px;
      position: relative;
      padding-right: 17px;
      transition: all 1s ease 0s;
      -webkit-transition: all 1s ease 0s;
    }
    a:hover {
      margin-left: 5px;
      transition: all 1s ease 0s;
    }
    a:after {
      content: "\203A";
      margin-left: 10px;
      font-size: 15px;
    }
    ul {
      padding-left: 0;
      padding-top: 20px;
      color: #fff;
      list-style: none;
      li {
        padding-left: 15px;
        a:hover {
          margin-left: 5px;
        }
      }
      li:before {
        position: absolute;
        content: "";
        background-color: #f7c51d;
        left: 15px;
        margin: 12px 0;
        height: 6px;
        width: 6px;
      }
    }
    .footer__keep__wrapper {
      padding-top: 20px;
      p:first-child {
        padding-top: 0;
      }
      p {
        margin: 0;
        transition: color 0.5s;
      }
      p:hover {
        transition: color 0.5s;
        color: #f7c51d;
      }
      span {
        white-space: nowrap;
        display: inline-block;
        padding: 0 30px;
      }
      i {
        position: absolute;
        font-size: 25px;
      }
    }
    .footer__feed__wrapper {
      ul {
        list-style: none;
        li {
          padding-right: 5px;
          padding-left: 0;
          padding-bottom: 5px;
          a {
            width: 100%;
            height: 60px;
          }
          a:after {
            content: "";
          }
          a:before {
            content: '';
          }
          a:hover {
            margin-left: 0;
            opacity: 0.5;
          }
        }
        li:before {
          content: '';
          height: 0;
          width: 0;
        }
      }
    }
  }
  .footer_bottom {
    background-color: #f7c51d;
    line-height: 60px;
    position: relative;
    display: inline-block;
    width: 100%;
    text-align: center;
    span {
      font-weight: 500;
      font-size: 14px;
      line-height: 28px;
      color: #333;
      text-transform: capitalize;
    }
  }
  .footer_bottom:before {
    content: '';
    position: absolute;
    left: -5%;
    top: -1px;
    height: 35px;
    width: 20%;
    background-color: #333;
    transform: skewX(-40deg);
  }
}
@media only screen and (max-width: 768px) {
  .footer {
    .footer-col-wrapper{
      margin: 10px 0;
      text-align: center;
      h3:before {
        top: 30px;
      }
      .footer__feed__wrapper {
        ul {
          list-style: none;
          li {
            padding-right: 5px;
            padding-left: 0;
            padding-bottom: 5px;
            a {
              width: 200px;
              height: 200px;
            }
          }
        }
      }
    }
  }
}
