.panel {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.05);
  box-shadow: 0 1px 1px rgba(0,0,0,0.05);
  margin: 20px 0;
  cursor: pointer;
  .panel-heading {
    margin: 10px 0;
    padding: 5px 25px;
    h3 {
      font-size: 16px;
      margin: 0;
    }
    span {
      float: right;
      position: relative;
      top: -22px;
    }
  }
  .panel-body {
    max-height: 0;
    overflow: hidden;
    transition: all 0.5s cubic-bezier(0,1,0,1);
    flex-direction:column;
    justify-content:flex-start;
    hr {
      display: none;
    }
    .panel-body__content {
      padding: 10px 25px;
    }
  }
  .panel-body.active {
    display: block;
    transition: all 0.5s cubic-bezier(1,0,1,0);
    max-height: 200px;
    overflow:hidden;
    hr {
      margin: 0 auto;
      width: 95%;
      display: block;
    }
  }
}
